body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.lewy{

    background-color: rgb(98, 173, 223);
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-wrap: wrap;
    
}
.prawy{
    display: flex;
    background-color: rgb(49, 49, 187);
    width: 50vw;
    height: 100vh;
    justify-content: end;
    flex-wrap: wrap;
    align-items: end;
}
.lg{
    display: flex;
    outline: solid 1px black;
    width: 50%;
    height: 50%;
    justify-content: end;
    align-items: end;
}
.pg{
    display: flex;
    outline: solid 1px black;
    width: 50%;
    height: 50%;
    justify-content: start;
    align-items: end;
}
.ld{
    display: flex;
    outline: solid 1px black;
    width: 50%;
    height: 50%;
    justify-content: end;
}
.pd{
    display: flex;
    outline: solid 1px black;
    width: 50%;
    height: 50%;
    

}
.fioletowy1{
    background-color: rgb(130, 44, 230);
    width: 50%;
    height: 50%;
    outline: solid 2px black;
}
.fioletowy2{
    background-color:   rgb(130, 44, 230);
    display: flex;
    width: 50%;
    height: 50%;
    outline: solid 2px black;
}.fioletowy3{
    background-color: rgb(130, 44, 230);
    display: flex;
    width: 50%;
    height: 50%;
    outline: solid 2px black;
}.fioletowy4{
    background-color: rgb(130, 44, 230);
    display: flex;
    width: 50%;
    height: 50%;
    outline: solid 2px black;
}
/*ZÓŁTY KWADRAT*/
.zolty1{
    display: flex;
    background-color: yellow;
    width: 50%;
    height: 50%;
    outline: solid 1px black;
    justify-content: right;
    align-items: end;
    

}

.zolty2{
    background-color: yellow;
    width: 50%;
    height: 50%;
    outline: solid 1px black;
    display: flex;

}
.zolty3{
    background-color: yellow;
    width: 50%;
    height: 50%;
    outline: solid 1px black;
}
.zolty4{
    background-color: yellow;
    width: 50%;
    height: 50%;
    outline: solid 1px black;
}









































.prawy{
    background-color: blue;
    width: 50%;
    height: 900px;
    display: flex
    
}